<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="twins">
        <div class="required">
            <input
                type="text"
                name="firstname"
                id="firstname"
                placeholder="First Name"
                formControlName="firstname"
            />

            <div
                *ngIf="
                    !firstname?.valid &&
                    (firstname?.touched || firstname?.dirty)
                "
                class="error-msg"
            >
                First Name is required!
            </div>
            <div *ngIf="firstname?.errors?.['maxlength']" class="error-msg">
                Max 10 characters!
            </div>
            <div *ngIf="firstname?.errors?.['minlength']" class="error-msg">
                Min 2 characters!
            </div>
        </div>

        <div class="required">
            <input
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Last Name"
                formControlName="lastname"
            />

            <div
                *ngIf="
                    !lastname?.valid && (lastname?.touched || lastname?.dirty)
                "
                class="error-msg"
            >
                Last Name is required!
            </div>
            <div *ngIf="lastname?.errors?.['pattern']" class="error-msg">
                Enter only letters!
            </div>
        </div>
    </div>

    <div>
        <h3>Contact Information</h3>

        <div class="contact">
            <div class="required">
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    formControlName="email"
                />

                <div
                    *ngIf="!email?.valid && (email?.touched || email?.dirty)"
                    class="error-msg"
                >
                    Email is required!
                </div>
            </div>

            <div class="required">
                <input
                    type="text"
                    name="phone"
                    id="phone"
                    placeholder="Phone"
                    formControlName="phone"
                />

                <div
                    *ngIf="!phone?.valid && (phone?.touched || phone?.dirty)"
                    class="error-msg"
                >
                    Phone is required!
                </div>
                <div *ngIf="phone?.errors?.['minlength']" class="error-msg">
                    Enter min 9 character!
                </div>
                <div *ngIf="phone?.errors?.['pattern']" class="error-msg">
                    Enter only numbers!
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Resources</h3>

        <div class="twins">
            <div class="required">
                <input
                    type="github"
                    name="github"
                    id="github"
                    placeholder="Github Link"
                    formControlName="github"
                />

                <div
                    *ngIf="!github?.valid && (github?.touched || github?.dirty)"
                    class="error-msg"
                >
                    Github is required!
                </div>
                <div *ngIf="github?.errors?.['pattern']" class="error-msg">
                    Enter correct link!
                </div>
            </div>

            <div class="required">
                <input
                    type="linkedin"
                    name="linkedin"
                    id="linkedin"
                    placeholder="Linkedin Link"
                    formControlName="linkedin"
                />

                <div
                    *ngIf="
                        !linkedin?.valid &&
                        (linkedin?.touched || linkedin?.dirty)
                    "
                    class="error-msg"
                >
                    Linkedin is required!
                </div>
                <div *ngIf="linkedin?.errors?.['pattern']" class="error-msg">
                    Enter correct link!
                </div>
            </div>
        </div>
    </div>

    <div formGroupName="experience">
        <h3>Experience</h3>

        <div class="twins">
            <div class="required">
                <input
                    type="text"
                    name="work"
                    id="work"
                    placeholder="Place of Work"
                    formControlName="work"
                />

                <div
                    *ngIf="!work?.valid && (work?.touched || work?.dirty)"
                    class="error-msg"
                >
                    Experience is required!
                </div>
            </div>

            <div class="required">
                <input
                    type="text"
                    name="from"
                    id="from"
                    placeholder="From"
                    formControlName="from"
                />

                <div
                    *ngIf="
                        !workFrom?.valid &&
                        (workFrom?.touched || workFrom?.dirty)
                    "
                    class="error-msg"
                >
                    Required!
                </div>
                <div *ngIf="workFrom?.errors?.['minlength']" class="error-msg">
                    Min 4 number!
                </div>
            </div>

            <div class="required">
                <input
                    type="text"
                    name="number"
                    id="number"
                    placeholder="To"
                    formControlName="to"
                />

                <div
                    *ngIf="!workTo?.valid && (workTo?.touched || workTo?.dirty)"
                    class="error-msg"
                >
                    Required!
                </div>
                <div *ngIf="workTo?.errors?.['maxlength']" class="error-msg">
                    Max 4 number!
                </div>
            </div>
        </div>
    </div>

    <div formGroupName="education">
        <h3>Education</h3>

        <div class="twins">
            <div class="required">
                <input
                    type="text"
                    name="institution"
                    id="institution"
                    placeholder="Institution"
                    formControlName="institution"
                />

                <div
                    *ngIf="
                        !institution?.valid &&
                        (institution?.touched || institution?.dirty)
                    "
                    class="error-msg"
                >
                    Institution required!
                </div>
            </div>

            <div class="required">
                <input
                    type="text"
                    name="from"
                    id="from"
                    placeholder="From"
                    formControlName="from"
                />

                <div
                    *ngIf="
                        !institutionFrom?.valid &&
                        (institutionFrom?.touched || institutionFrom?.dirty)
                    "
                    class="error-msg"
                >
                    Required!
                </div>
                <div
                    *ngIf="institutionFrom?.errors?.['minlength']"
                    class="error-msg"
                >
                    Min 4 number!
                </div>
            </div>

            <div class="required">
                <input
                    type="text"
                    name="number"
                    id="number"
                    placeholder="To"
                    formControlName="to"
                />

                <div
                    *ngIf="
                        !institutionTo?.valid &&
                        (institutionTo?.touched || institutionTo?.dirty)
                    "
                    class="error-msg"
                >
                    Required!
                </div>
                <div
                    *ngIf="institutionTo?.errors?.['maxlength']"
                    class="error-msg"
                >
                    Max 4 number!
                </div>
            </div>
        </div>
    </div>

    <button class="btn" type="submit">Submit</button>
</form>
